<footer class="unm-footer" aria-label="UNM footer">
  <div class="unm-shell unm-footer__inner">
    <div>
      <a class="unm-footer-logo" href="https://www.unm.edu">
        <img src="https://webcore.unm.edu/v2/images/unm-transparent-white.png" alt="The University of New Mexico">
      </a>
      <p class="small">
        &copy; The University of New Mexico<br>
        Albuquerque, NM 87131, (505) 277-0111<br>
        New Mexico's Flagship University
      </p>
    </div>
    <div>
      <ul class="unm-social">
        <li><a href="https://www.facebook.com/universityofnewmexico" aria-label="UNM on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="https://instagram.com/uofnm" aria-label="UNM on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/unm" aria-label="UNM on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/user/unmlive" aria-label="UNM on YouTube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
      </ul>
      <p>more at <a href="https://social.unm.edu">social.unm.edu</a></p>
      <ul class="unm-footer-links">
        <li><a href="https://www.unm.edu/accessibility.html">Accessibility</a></li>
        <li><a href="https://www.unm.edu/legal.html">Legal</a></li>
        <li><a href="https://www.unm.edu/contactunm.html">Contact UNM</a></li>
        <li><a href="https://www.unm.edu/consumer-information/">Consumer Information</a></li>
      </ul>
    </div>
  </div>
</footer>
